/* 
  100 Thin (Hairline)
  200 Extra Light (Ultra Light)
  300 Light
  400 Normal
  500 Medium
  600 Semi Bold (Demi Bold)
  700 Bold
  800 Extra Bold (Ultra Bold)
  900 Black (Heavy) 
*/

/* 鸿蒙中文 */
@font-face {
  font-family: 'HarmonyOS Sans SC Regular';
  src:
    url(./HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.woff2) format('woff2'),
    url(./HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
