.dataSet-edit-dialog{
  padding: 0 !important;
    .el-dialog__body{
        max-height: unset !important;
        height: auto !important;
        padding-bottom: 24px !important;
    }
.kf-ruleForm,.dataSet-ruleForm {
    .el-form-item {
      gap: 24px !important;
      margin-bottom: 24px;
      div{
        font-size: 12px;
      }
      .el-form-item__label{
        font-size: 12px;
        width: 96px !important;
        padding-right: 0px !important;
        font-weight: 400;
      }
    }
    
    .kl-ops-btn {
      display: flex;
      justify-content: center;
      height: 24px !important;
      margin-top: 32px;
      .el-button {
        height: 24px;
      }

      .el-form-item__content {
        display: flex;
        height: 24px !important;
        min-height: unset !important;
        justify-content: center;
        margin-left: unset !important;
        font-size: 12px;
      }
    }
  }
    .el-form-item__label:before{
        content: '';
        display: inline-block;
        width: 8px;
        position: absolute;
        left: -8px;
        margin-right: 0px !important;
    }
    .dataSet-ruleForm .el-form-item:last-child {
        margin-bottom: unset !important;
    }
    .dataSet-ruleForm{
        .dataSetFileNum,.isDataClean,.isComContext{
            --o-form-item-height:16px !important;
            .el-form-item__label, .el-form-item__content{
                height: 16px !important;
                line-height: 16px !important;
                .el-switch{
                    height: 16px !important;
                    .el-switch__core{
                        height: 16px !important;
                        width: 32px !important;
                        min-width: 32px !important;
                        .el-switch__action{
                            width: 12px !important;
                            height: 12px !important;
                        }
                    }

                }
                .el-switch.is-checked .el-switch__core .el-switch__action{
                    left: calc(100% - 13px) !important;
                }
            }
        }
        .dataSetNumberTip{
            margin-left: 8px;
            color: #8d98aa;
        }
    }

    .el-form-item__content{
        width: 376px !important;
        flex: 1 !important;
        .el-input,.el-textarea__inner,.el-select__wrapper{
            width: 376px !important;
        }
    }

    .notSelectedType .el-select__selected-item span {
        color: #a8abb2 !important;
    }
    
}