.dataSetDrawerContainer{
    width: 65% !important;
    .el-drawer__header{
        padding-top: 24px !important;
        padding-left: 24px !important;
        padding-bottom: 16px !important;
        margin: unset !important;
        .el-drawer__title{
            font-size: 16px;
            font-weight: 700;
            color: var(--o-text-color-primary);

        }
    }
    .el-drawer__body{
        padding:0 24px 16px !important;
    }
    .el-drawer__footer{
        padding:0 24px 0 0 !important;
        height: 48px !important;
        display: flex;
        align-items: center;
        box-shadow: 0px -8px 16px 0px rgba(0, 0,0,0.1);
        background-color: var(--o-bg-color-base);
    }

    .dataSetInfoContainer{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        padding: 16px 24px 24px !important;
        background-color: var(--o-bg-color-light);
        border-radius: 8px;
        margin-bottom: 16px;
        .dataSetInfoBox{
            display: flex;
            justify-content: space-between;
        }
        .dataSetInfoNameBox,.dataSetInfoDescBox{
            display: flex;
            gap: 24px;
        }
        .dataSetInfoNameBox{
            align-items: center;
        }

        .dataSetInfoLabel{
            color: var(--o-text-color-secondary);
            font-size: 12px;
            position: relative;
            width: 60px;
        }

        .dataSetInfoLabel::before{
            position: absolute;
            color: var(--el-color-danger);
            content: "*";
            left: -8px;
            top: 1px;
        }

        .dataSetInfoTitle{
            font-size: 14px;
            color: var(--o-text-color-primary);
        }

        .dataSetInfoContent{
            width: calc(100% - 132px);
            color: var(--o-text-color-primary);
            font-size: 12px;
            .dataSetInfoDescInput{
                width: 412px;
                .el-input__count{
                    background-color: transparent !important;
                }
            }
            .el-input__wrapper,.el-textarea__inner{
                width: 412px !important;
                background-color: transparent !important;
                font-size: 12px;
            }
            .el-textarea__inner{
                height: 88px;
                padding-right: 16px !important;
            }
            textarea::-webkit-scrollbar {
                width: 4px;               /* 垂直滚动条宽度 */
            }
        }

        .dataSetInfoEdit{
            color: #6395fd;
            cursor: pointer;
            font-size: 12px;
        }

        .dataSetInfoOps{
            display: flex;
            gap: 8px;
            color: #6395fd;
            cursor: pointer;
            font-size: 12px;
        }
    }

    .dataSetInfoCenterBox{
        display: flex;
        justify-content:space-between;
        margin-bottom: 8px;
        .dataSetInfoRight{
            display: flex;
            gap: 8px;
            .dataSetListBox,.dataSetScoreBox{
                height: 32px;
                padding:0 16px;
                display: flex;
                align-items: center;
                background: var(--o-bg-color-light);
                border-radius: 4px;
                font-size: 12px;
                font-family: 'HarmonyOS Sans SC Regular';
                .dataSetListIcon{
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin-right: 4px;
                    background: var(--o-task-list-icon);
                }
                .dataSetScoreIcon{
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin-right: 4px;
                    background: var(--o-task-score-icon);
                }
                .dataSetListText,.dataSetScoreText{
                    margin-right: 8px;
                    color: var(--o-text-color-secondary);
                }

                .dataSetListNumber{
                    font-size: 14px;
                    font-weight: 700;
                    color: var(--o-text-color-primary);
                }

                .dataSetScoreNumber{
                    color: var(--o-color-major);
                    font-family: 'HarmonyOS Sans SC Regular';
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }

    .dataSetInfoTableContainer{
        .el-pagination{
            padding-top: 12px !important;
        }
        .el-textarea__inner{
            font-size: 12px;
            font-family: 'HarmonyOS Sans SC Regular';
        }
        .el-table .cell{
            font-size: 12px;
            font-family: 'HarmonyOS Sans SC Regular';
        }
        .el-table thead .cell{
            font-weight: 500;
        }
        .el-table tbody .cell{
            font-weight: 400;
        }
       tbody .el-table__cell{
          padding: 0 !important;
        }
        .el-table__row .cell{
          padding: 8px !important;
        }
        .el-table__body-wrapper .el-table-column--selection {
            padding-left: 8px !important;
        } 
        .dataChunkText{
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* 控制显示行数 */
          text-overflow: ellipsis;
        }
        textarea::-webkit-scrollbar {
            width: 4px;               /* 垂直滚动条宽度 */
        }
        .el-input__count{
            background-color: transparent !important;
        }
    }
    
}
.dataSetPage{
    inset: auto auto 100px 753px !important;
}