.evaluate-empty-content {
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center
}

.group-table-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 200px;

    .test-manage-header {
        display: flex;
        justify-content: space-between;

        .search-input {
            width: 356px;
            font-size: 12px;
        }

        .el-dropdown {
            margin-right: 8px;

            .dropdown-disabled {
                cursor: not-allowed;

                &:hover,
                :active {
                    cursor: not-allowed;
                }
            }

        }
    }
    .test-table{
        height: calc(100vh - 330px);
    }
    .el-table.is-scrolling-left.el-table--border .el-table-fixed-column--left.is-last-column.el-table__cell {
        border-right: unset !important;
    }

    .el-table__header {
        width: 100% !important;
        height: 32px;
        box-shadow: inset 0 -1px 0 0 rgb(223 229 239);

        thead tr th {
            background-color: #f4f6fa;
        }
    }

    .custom-header {
        display: flex;
        gap: 4px;
        align-items: center;

        .searchIconIsActive {
            color: rgb(99, 149, 253) !important;
        }

        .el-icon {
            font-size: 16px;
            color: #8d98aa;
        }

        .el-icon:hover {
            color: rgb(99, 149, 253);
            cursor: pointer;
        }

        svg {
            width: 16px;
            height: 16px;
        }
        .sort-icon-box{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    .test-name {
        color: rgb(99, 149, 253) !important;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }

    .testing-model-type{
        img{
            transform: translateY(25%);
        }
    }

    .statusAnalysis {
        display: flex;
        align-items: center;

        .percent-box {
            .el-progress-bar {
                width: 88px;
            }

            .el-progress__text {
                width: fit-content;
            }
        }

        .el-progress__text {
            width: 24px;
            min-width: 18px;
            color: var(--o-text-color-primary);
        }

        .statusAnalysisText {
            font-size: 12px;
            font-family: 'HarmonyOS Sans SC Medium';
            margin-left: 2px;
            color: var(--o-text-color-primary);
        }
    }

    .statusFail,
    .statusWaitIng,
    .statusSuccess,
    .statusCancel {
        height: 16px;
        width: fit-content;
        padding: 0px 8px;
        font-size: 12px;
        line-height: 16px;
        color: rgb(255 255 255) !important; 
        text-align: center;
        border-radius: 2px;
        font-weight: 500;
    }

    .statusFail {
        background: rgb(227, 32, 32);
    }

    .statusSuccess {
        background: rgb(36, 171, 54);
    }

    .statusCancel {
        background: rgb(141, 152, 170);
    }

    .statusWaitIng {

        background: rgb(250, 192, 84);
    }

    .test-manage-btns{
        button{
            border: unset;
        }
        .el-button--text:not(.is-disabled)>span{
            color: rgb(99, 149, 253);
        }
    }

    .el-table__body {
        width: 100% !important;

        .el-table__row {
            height: 48px;
        }
    }

    .el-table__cell {
        padding: 0 !important;
        font-size: 12px;
    }

    .el-table--border .el-table__cell:first-child .cell {
        padding: 0 12px !important;
    }

    .el-table-column--selection .cell {
        padding-right: 0 !important;
        padding-left: 22px;
    }

    .group-selection::after {
        content: unset !important;
    }

    .el-pagination {
        margin-top: 0;
    }

    .el-pagination .el-input__inner {
        height: var(--el-input-inner-height) !important;
    }
}

.el-table [class*=el-table__row--level] .el-table__expand-icon {
    width: 14px;
    position: absolute !important;
    left: -50px;
    top: 16px;
}
.evaluate-dialog {
    .el-dialog__header {
        padding: 16px 0 16px 24px;
    }

    .el-dialog__body {

        .evaluate-form {
            .el-form-item {
                .el-form-item__label{
                    color: --o-item-label-text;
                }
                .el-form-item__label:before{
                    position: absolute;
                    left: -8px;
                }
                .evaluate-dataSetName{
                    color: var(--o-primary-color);
                }
                
            }
        }
    }

    .el-dialog__footer {
        padding-bottom: 8px;

        .dialog-footer {
            display: flex;
            justify-content: center;
            & button{
                height: 24px;
                width: 64px;
            }
        }
    }
}
.el-select__popper .el-select-dropdown__list{    
    // background-color: white;               
    .el-select-dropdown__item{
        display: flex;
        align-items: center;
        gap: 4px;
        & span{
            max-width: 330px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .is-hovering{
        background-color: rgb(122,165,225);
    }
    .is-selected{
        background-color: rgb(99,149,253);
        span{
            color: white !important;
        }
    }
}