.kf-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: calc(100vh - 206px);
  min-width: 1240px;
  .kf-container-top {
    display: flex;
    gap: 24px;
    align-items: center;

    .kf-left-menu {
      display: flex;
      gap: 4px;
      align-items: center;
      width: 232px;
      height: 16px;

      .home-menu {
        display: inline-block;
        max-width: 80px;
        height: 16px;
        font-size: 12px;
        line-height: 16px;
      }

      .kf-name {
        max-width: 152px;
        font-size: 12px;
        font-weight: 700;
      }
    }

    .kf-right-title {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .kf-container-action {
    position: relative;
    display: flex;
    gap: 24px;
    width: 100%;
    height: 100%;
    min-height: 500px;

    .kf-container-left {
      width: 232px;
      min-width: 232px;
      .kf-file-config {
        margin-top: 8px;
      }

      .kf-file-btn,
      .kf-file-config {
        font-size: 12px;
        height: 32px;
        padding-left: 16px;
        line-height: 32px;
        color: rgb(77 88 101);
        cursor: pointer;
        background-color: rgb(254 254 254);
        border-radius: 4px;
      }

      .kf-ops-btn {
        color: rgb(255 255 255);
        background: rgb(99,149,253);
      }
    }

    .kf-container-right {
      flex: 1;
      min-width: 700px;
      background: var(--o-bg-color-base);
      border-radius: 4px;

      .kf-container-table-ops {
        display: flex;
        justify-content: space-between;
        background-color: var(--o-bg-color-base);
        .kf-container-table-ops-left{
          display: flex;
          margin-bottom: 16px;
          gap: 8px;
          .importFileBtn {
            padding: 8px 15px;
          }

          .dataSetBtn{
            margin-left: unset !important;
          }

          .delFileBtn {
            padding: 8px 27px;
            margin-left: 8px;

            span {
              min-width: unset !important;
            }
          }

          .el-dropdown {
            .upBtn{
              border-color: #6395FD !important;
              color: #6395FD !important;
            }
            button {
              min-width: 96px;
            }
          }
        }
        .kf-container-table-ops-right{
          width: 356px;
          font-size: 12px;
        }
      }

      .kf-container-table-box {
        height: calc(100% - 59px);
        display: flex;
        flex-direction: column;
        background-color: var(--o-bg-color-base);
        .fileTableContainer{
          height:100%;
          .el-table-column--selection{
            padding-left: 16px !important;
            padding-right: 0px !important;
          }
        }
        .el-table .cell{
          line-height: 16px !important;
        }
        tbody {
          td {
            border-right: unset !important;
          }
        }
        .el-table.is-scrolling-left.el-table--border
          .el-table-fixed-column--left.is-last-column.el-table__cell {
          border-right: unset !important;
        }
        .el-table {
          ::-webkit-scrollbar {
            width: 4px !important;
          }
          .el-scrollbar__bar.is-vertical {
            width: 4px !important;
          }
        }
      }

      .kf-name-row {
        color: rgb(99, 149, 253);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
      }

      .el-table__body-wrapper {
        flex: unset !important;
      }

      .upload-time-cell {
        .cell {
          display: flex;
          align-items: center;
        }
      }

      .el-table__header {
        height: 32px;
        width: 100% !important;
        box-shadow: inset 0 -1px 0 0 rgb(223 229 239);

        thead tr th {
          background-color: #f4f6fa;
        }
      }

      .el-table__body {
        width: 100% !important;
        color: black !important;

        .el-table__row {
          height: 48px;
        }
      }

      .el-table__cell {
        padding: 0 8px !important;
        font-size: 12px;
      }

      .kl-selection::after {
        content: unset !important;
      }

      .kl-name .cell {
        padding-left: 0 !important;
      }

      .el-pagination {
        margin-top: 24px !important;
      }

      .el-pagination .el-input__inner {
        height: var(--el-input-inner-height) !important;
      }

      .statusFail,
      .statusSuccess,
      .statusWaitIng,
      .statusCancel {
        height: 16px;
        width: fit-content;
        padding: 0px 8px;
        font-size: 12px;
        line-height: 16px;
        color: rgb(255 255 255) !important;
        text-align: center;
        border-radius: 2px;
        font-weight: 500;
      }

      .statusFail {
        background: rgb(227, 32, 32);
      }

      .statusSuccess {
        background: rgb(36, 171, 54);
      }

      .statusCancel {
        background: rgb(141, 152, 170);
      }
      .statusWaitIng {
        background: rgb(250, 192, 84);
    }

      @keyframes rotate-img {
        from {
          transform: rotate(0);
        }

        to {
          transform: rotate(360deg);
        }
      }

      .icon-loading {
        height: 16px;
        width: 16px;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
        display: inline-block;
        background: url('/src/assets/icons/taskLoading.png');
      }

      .icon-box {
        animation: rotate-img 0.8s infinite linear;
      }

      .statusAnalysis {
        display: flex;
        align-items: center;

        .percent-box {
          .el-progress-bar {
            width: 88px;
          }
          .el-progress__text {
            width: fit-content;
          }
        }

        .el-progress__text {
          width: 24px;
          min-width: 18px;
          color: var(--o-text-color-primary);
          margin-left: 8px;
        }
        .statusAnalysisText {
          font-size: 12px;
          font-family: 'HarmonyOS Sans SC Regular';
          font-weight: 500;
          margin-left: 4px;
          color: var(--o-text-color-primary);
        }
      }

      .el-switch,
      .el-switch__core {
        width: 32px !important;
        min-width: unset !important;
        height: 16px !important;
      }

      .el-switch__action {
        top: 1.3px;
        left: 1.5px;
        width: 12px !important;
        height: 12px !important;
      }

      .el-switch.is-checked .el-switch__core .el-switch__action {
        left: calc(100% - 13px) !important;
      }

      .custom-header {
        display: flex;
        gap: 4px;
        align-items: center;
        .searchIconIsActive {
          color: rgb(99, 149, 253) !important;
        }

        .el-icon {
          font-size: 16px;
          color: #8d98aa;
        }

        .el-icon:hover {
          color: rgb(99, 149, 253);
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }
      .upload-time-header{
        gap: 1.09px !important;
      }
      .kl-ruleForm {
        max-width: 544px !important;

        .el-select__popper {
          top: 44px !important;
          box-sizing: border-box;
          width: 100% !important;
          background: #fefefe !important;

          .el-select-dropdown {
            width: 100% !important;
            max-width: unset !important;
          }
        }

        .el-select-dropdown__item.is-hovering {
          color: #fff;
          width: 399px;
        }

        .el-form-item__content {
          flex: unset !important;
          width: 400px !important;

          .el-input,
          .el-select__wrapper,
          .el-textarea__inner {
            width: 400px !important;
            font-size: 12px;
          }

          .el-input__inner {
            font-size: 12px;
          }

          .el-textarea__inner {
            height: 88px;
          }
        }

        .config-form {
          .el-form-item__content {
            width: 600px !important;

            .supAddCategoris {
              width: 400px !important;
              height: 24px;
              line-height: 24px;
            }
          }

          .resetBtn {
            height: 32px !important;
          }
        }
      }

      .kl-ops-btn {
        position: absolute;
        bottom: 0;
        width: calc(100% - 256px);
        height: 48px;
        margin-bottom: unset !important;
        background: rgb(254 254 254);
        border-radius: 4px;
        transform: translateX(-16px);

        .el-form-item__content {
          margin-left: 0 !important;
        }

        .resetBtn {
          width: 80px;
        }
      }

      .domain-config {
        margin-bottom: 8px !important;
      }

      .config-form {
        margin-bottom: 16px !important;
      }
    }
  }

  .kf-container-form {
    height: calc(100% - 64px);
    padding-bottom: 0 !important;
    overflow-y: auto;
    padding-top: 24px !important;
    padding-left: 16px !important;

    .el-form-item .is-disabled span {
      color: rgb(191, 199, 215) !important;
    }
  }
}

.kf-ops-dowlon {
  .el-dropdown-menu {
    padding: 4px 0 !important;
  }
  .el-dropdown-menu__item {
    font-size: 12px;
  }
}

.chooseFileBtn {
  padding: 4px 8px;
}

.edit-dialog {
  padding: 0 !important;
  .el-dialog__body {
    padding-bottom: 0 !important;
  }
  .kf-ruleForm,.dataSet-ruleForm {
    .el-form-item {
      gap: unset !important;
      margin-bottom: 24px;
      div{
        font-size: 12px;
      }
      .el-form-item__label{
        font-size: 12px;
      }
      .el-form-item__label:before{
        position: absolute;
        left: -8px;
      }
    }
    
    .kl-ops-btn {
      display: flex;
      justify-content: center;
      height: 24px !important;
      margin-top: 32px;
      .el-button {
        height: 24px;
      }

      .el-form-item__content {
        display: flex;
        height: 24px !important;
        min-height: unset !important;
        justify-content: center;
        margin-left: unset !important;
        font-size: 12px;
      }
    }
  }

  .docTypeClass {
    max-height: 150px;
    overflow-x: hidden;

    .el-select-dropdown {
      height: 100%;
      overflow-y: auto;
    }
  }

  .editTip {
    display: flex;
    gap: 8px;
    margin-top: 4px;
  }

  .iconAlarmOrange {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  .editTipText {
    font-size: 12px;
    color: #8d98aa;
    line-height: 16px;
  }

  .config-size {
    width: 111px !important;
  }

  .fileChunkSize {
    .el-form-item__content {
      line-height: 12px;
    }
  }

  .el-select__popper {
    top: 44px !important;
    box-sizing: border-box;
    width: 100% !important;

    .el-select-dropdown {
      width: 100% !important;
      max-width: unset !important;
    }
  }

  .el-select-dropdown__item.is-hovering {
    color: #fff !important;
  }
}

.tip-dialog {
  .delTip {
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--o-text-color-secondary);
    & span{
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
    }
  }

  .iconAlarmOrange {
    width: 24px;
      height: 24px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
.cancel-analytic-dialog,.del-dialog,.del-select-dialog {
  padding: 0px;
  .tip-ops-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    & button{
      height: 24px;
    }
  }

}
.fileLibraryPage{
  inset: auto auto 84px 92px !important;
}